# Using Python for Research Homework: Week 3, Case Study 2

In this case study, we will find and plot the distribution of word frequencies for each translation of Hamlet.  Perhaps the distribution of word frequencies of Hamlet depends on the translation --- let's find out!

In [50]:
# DO NOT EDIT THIS CODE!
import os
import pandas as pd
import numpy as np
from collections import Counter

def count_words_fast(text):
    text = text.lower()
    skips = [".", ",", ";", ":", "'", '"', "\n", "!", "?", "(", ")"]
    for ch in skips:
        text = text.replace(ch, "")
    word_counts = Counter(text.split(" "))
    return word_counts

def word_stats(word_counts):
    num_unique = len(word_counts)
    counts = word_counts.values()
    return (num_unique, counts)

### Exercise 1 

In this case study, we will find and visualize summary statistics of the text of different translations of Hamlet. For this case study, functions `count_words_fast` and `word_stats` are already defined as in the Case 2 Videos (Videos 3.2.x).

#### Instructions 
- Read in the data as a pandas dataframe using `pd.read_csv`. Use the `index_col` argument to set the first column in the csv file as the index for the dataframe. The data can be found at https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@hamlets.csv

In [51]:
import pandas as pd
hamlets = pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@hamlets.csv",index_col=0)## Complete this line of code! ##
hamlets

     language                                               text
1     English  The Tragedie of Hamlet\n                      ...
2      German  Hamlet, Prinz von Dännemark.\n                ...
3  Portuguese  HAMLET\n                             DRAMA EM ...

### Exercise 2 

In this exercise, we will summarize the text for a single translation of Hamlet in a `pandas` dataframe. 

#### Instructions
- Find the dictionary of word frequency in `text` by calling `count_words_fast()`. Store this as `counted_text`.
- Create a `pandas` dataframe named `data`.
- Using `counted_text`, define two columns in data:
    - `word`, consisting of each unique word in text.
    - `count`, consisting of the number of times each word in `word` is included in the text.

In [52]:
language, text = hamlets.iloc[0]
print(language) # we are accessing only english
#print(text)

counted_text = count_words_fast(text)
data = pd.DataFrame(columns=("word","count"))
data["word"] = counted_text.keys()
data["count"] = counted_text.values() 
data

English

              word  count
0              the    935
1         tragedie      3
2               of    576
3           hamlet     97
4                   45513
...            ...    ...
5108  shooteexeunt      1
5109      marching      1
5110         peale      1
5111           ord      1
5112         finis      1

[5113 rows x 2 columns]

### Exercise 3

In this exercise, we will continue to define summary statistics for a single translation of Hamlet. 

#### Instructions
- Add a column to data named `length`, defined as the length of each word.
- Add another column named `frequency`, which is defined as follows for each word in `data`:
    - If `count > 10`, `frequency` is "frequent".
    - If `1 < count <= 10`, `frequency` is "infrequent".
    - If `count == 1`, `frequency` is "unique".

In [77]:
data["length"]=data["word"].apply(len)
data

              word  count  length   frequency
0              the    935       3    frequent
1         tragedie      3       8  infrequent
2               of    576       2    frequent
3           hamlet     97       6    frequent
4                   45513       0    frequent
...            ...    ...     ...         ...
5108  shooteexeunt      1      12      unique
5109      marching      1       8      unique
5110         peale      1       5      unique
5111           ord      1       3      unique
5112         finis      1       5      unique

[5113 rows x 4 columns]

In [55]:
#poke.loc[poke['Type 1']=='Fire', 'Type 1'] = "Flamer"
data

              word  count  length
0              the    935       3
1         tragedie      3       8
2               of    576       2
3           hamlet     97       6
4                   45513       0
...            ...    ...     ...
5108  shooteexeunt      1      12
5109      marching      1       8
5110         peale      1       5
5111           ord      1       3
5112         finis      1       5

[5113 rows x 3 columns]

In [75]:
data.loc[data["count"]>10,"frequency"]="frequent"
data.loc[data["count"]<=10,'frequency']= "infrequent"
data.loc[data["count"]==1, "frequency"]= "unique"
data

              word  count  length   frequency
0              the    935       3    frequent
1         tragedie      3       8  infrequent
2               of    576       2    frequent
3           hamlet     97       6    frequent
4                   45513       0    frequent
...            ...    ...     ...         ...
5108  shooteexeunt      1      12      unique
5109      marching      1       8      unique
5110         peale      1       5      unique
5111           ord      1       3      unique
5112         finis      1       5      unique

[5113 rows x 4 columns]

In [76]:
data.loc[data["frequency"]=="unique"]

              word  count  length frequency
6           primus      1       6    unique
7           scoena      1       6    unique
8            prima      1       5    unique
12       francisco      1       9    unique
14       centinels      1       9    unique
...            ...    ...     ...       ...
5108  shooteexeunt      1      12    unique
5109      marching      1       8    unique
5110         peale      1       5    unique
5111           ord      1       3    unique
5112         finis      1       5    unique

[3348 rows x 4 columns]

### Exercise 4

In this exercise, we will summarize the statistics in data into a smaller pandas dataframe. 

#### Instructions 
- Create a `pandas` dataframe named `sub_data` including the following columns:
    - `language`, which is the language of the text (defined in Exercise 2).
    - `frequency`, which is a list containing the strings "frequent", "infrequent", and "unique".
    - `mean_word_length`, which is the mean word length of each value in frequency.
    - `num_words`, which is the total number of words in each frequency category.