# Loading Data

In [1]:
import pandas as pd
poke = pd.read_csv("pokemon_data.csv")
print(poke)

#                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [2]:
poke.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [3]:
poke.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
#if file is in other format
#xl=pd.read_excel("pandas-master/pokemon_data.xlsx")
pd.read_csv("pandas-master/pokemon_data.txt")

    #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0    1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1    2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2    3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3    3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4    4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...
..                                                 ...
795  719\tDiancie\tRock\tFairy\t50\t100\t150\t100\t...
796  719\tDiancieMega Diancie\tRock\tFairy\t50\t160...
797  720\tHoopaHoopa Confined\tPsychic\tGhost\t80\t...
798  720\tHoopaHoopa Unbound\tPsychic\tDark\t80\t16...
799  721\tVolcanion\tFire\tWater\t80\t110\t120\t130...

[800 rows x 1 columns]

In [5]:
pd.read_csv("pandas-master/pokemon_data.txt",delimiter="\t") # to remove tab which we got before by using only read_csv format

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Reading Data in Pandas

In [6]:
# reading headers
#print(poke.columns)
# read each column
#print(poke[['Name', 'Type 1', 'HP']])
# read each row
#print(poke.head(4))
# To read specific row
#print(poke.iloc[2])
#if we need specific data from particular row
#print(poke.iloc[2][:4]) # we are looking for data of only first 3 column of 3 row
#print(poke.iloc[1][2:5])

# Read specific location

print(poke.iloc[2,1])

Venusaur

In [7]:
#for index, row in poke.iterrows():
#    print(index,row)
# here i am accessing only requird information from data, in this case i am only reading names 
#for index, row in poke.iterrows():
    #print(index,row["Name"])

# for multiple infromartion

#for index, row in poke.iterrows():
   # print (index, row["HP"],row["Name"])

In [8]:
poke.loc[poke['Type 1']=="Fire"]# require specific information
poke.loc[poke['Name']=="Ivysaur"]#

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

In [9]:
poke.describe

<bound method NDFrame.describe of        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]>

In [10]:
poke.sort_values("Name")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [11]:
poke.sort_values("Name",ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [12]:
# for multiple column for sorting
poke.sort_values(["Type 1", "Name"],ascending=[False,True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
459,413,WormadamSandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

In [13]:
poke.sort_values(["Type 1", "Name"],ascending=[1,0]) # we can use 1 and 0 instead of true and false

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
459,413,WormadamSandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

#  Making changes in data

In [14]:
poke.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [15]:
# we want to find total of all data and add one more column in data set 
poke["Total"]=poke["HP"]+ poke["Attack"]+ poke["Defense"]+ poke["Sp. Atk"]+ poke["Speed"]+ poke["Sp. Def"]
poke.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [16]:
#we can do the same with following
# to remove total column
poke.drop(columns="Total")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [17]:
poke["Total"] = poke.iloc[:,4:10].sum(axis=1)
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [18]:
poke["Mean"] = poke.iloc[:,4:10].mean(axis=1)
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Mean
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,53.000000
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,67.500000
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,104.166667
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,51.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600,100.000000
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700,116.666667
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600,100.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680,113.333333
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600,100.000000

In [19]:
# to reorder my column
cols=list(poke.columns)
poke = poke[cols[0:4]+[cols[-2]]+cols[4:12]+[cols[-1]]]
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,51.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,100.000000
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,116.666667
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,100.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,113.333333
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,100.000000

# saving dataframe

In [20]:
poke.to_csv("ds.csv")

In [21]:
#to avoid printing index 
#poke.to_csv("ds.csv",index=False)
#poke.to_latex("ds.tex",index=False)

In [22]:
poke.to_csv("ds.txt",index=False, sep="\t")

# filtering data

In [23]:
poke.loc[poke["Type 1"]=="Grass"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,53.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False,52.166667
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False,67.500000
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False,88.333333
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False,58.333333
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False,88.500000

In [24]:
poke.loc[(poke["Type 1"]=="Grass") & (poke["Type 2"]=="Poison")] # we can also use 'and' instead of &

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,53.333333
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False,65.833333
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False,81.666667
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False,50.000000
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False,65.000000
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False,81.666667
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False,66.666667
451,406,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False,46.666667
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False,85.833333
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False,49.000000
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False,77.333333

In [25]:
new_poke=poke.loc[(poke["Type 1"]=="Grass") & (poke["Type 2"]=="Poison") & (poke["HP"]>70)]

In [26]:
new_poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False,81.666667
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False,81.666667
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False,77.333333

In [27]:
new_poke.to_csv("new_poke.csv")

In [28]:
new_poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False,81.666667
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False,81.666667
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False,77.333333

In [29]:
# check with index its same as old
new_poke=new_poke.reset_index()
new_poke

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
1,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
2,50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False,81.666667
3,77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False,81.666667
4,652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False,77.333333

In [30]:
# to avoid getting last saved index also
new_poke.reset_index(drop=True,inplace=True)

In [31]:
new_poke

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
1,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
2,50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False,81.666667
3,77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False,81.666667
4,652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False,77.333333

In [32]:
#filter name
poke.loc[poke["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,105.666667
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,105.666667
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,105.000000
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,82.500000
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,96.500000
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False,98.333333
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False,98.333333
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False,100.000000
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False,98.333333
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False,100.000000
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False,106.666667
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False,102.500000
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,130.000000
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,130.000000
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False,87.500000
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False,101.666667
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False,101.666667
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False,100.000000
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False,100.000000
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False,100.000000
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False,116.666667
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False,105.000000
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False,105.000000
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False,105.833333
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False,103.000000
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False,80.000000
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False,80.000000
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False,105.000000
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False,85.000000
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False,95.833333
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False,93.333333
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False,93.333333
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False,98.333333
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False,92.500000
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False,94.166667
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False,96.666667
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False,116.666667
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False,116.666667
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True,116.666667
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True,116.666667
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,130.000000
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False,96.666667
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False,116.666667
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False,104.166667
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False,99.000000
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False,103.000000
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False,90.833333
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,116.666667

In [33]:
# for not in data 
poke.loc[~poke["Name"].str.contains("Mega")] # we drop all name with mega

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,51.500000
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,67.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,100.000000
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,100.000000
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,100.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,113.333333
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,100.000000

In [34]:
# use contain wih more powerful way
import re
poke.loc[poke["Type 1"].str.contains("Fire|Grass",regex=True)]# we sorted data with type as grass or fire
# to order capitalisation of words
poke.loc[poke["Type 1"].str.contains("fire|grass",flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,51.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False,61.500000
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False,84.500000
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False,58.333333
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False,88.500000
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,100.000000

In [35]:
#name which include pi
poke.loc[poke["Name"].str.contains("pi[a-z]*",flags=re.I,regex=True)]
# name with start Pi always
poke.loc[poke["Name"].str.contains("^pi[a-z]*",flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,41.833333
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False,58.166667
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False,79.833333
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,96.500000
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False,53.333333
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False,83.333333
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False,100.000000
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False,34.166667
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False,48.333333
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False,75.000000
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False,52.333333
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False,69.666667
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False,44.000000

# Conditional changes

In [36]:
poke.loc[poke['Type 1']=='Fire', 'Type 1'] = "Flamer"
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
4,4,Charmander,Flamer,NaN,309,39,52,43,60,50,65,1,False,51.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,100.000000
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,116.666667
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,100.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,113.333333
799,721,Volcanion,Flamer,Water,600,80,110,120,130,90,70,6,True,100.000000

In [40]:
poke.loc[poke['Type 1']=='Flamer', 'Type 1'] = "Fire"

In [41]:
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,51.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,100.000000
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,116.666667
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,100.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,113.333333
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,100.000000

In [43]:
# we can do this changes for any column
poke.loc[poke["Type 1"]=="Fire", "Legendary"]=True
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mean
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True,51.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,100.000000
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,116.666667
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,100.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,113.333333
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,100.000000

In [70]:
# for conditional change in mulstiple column
import pandas as pd
poke=pd.read_csv("pokemon_data.csv")
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [76]:
poke["Total"]=poke.iloc[:,4:10].sum(axis=1)
poke.to_csv("new_poke.csv")
poke
poke.loc[poke['Total']>500,['Generation','Legendary']]='Test value'

In [77]:
poke.loc[poke['Total']>500,['Generation','Legendary']]=['Test 1' , 'Test 2']
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test 1,Test 2,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test 1,Test 2,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test 1,Test 2,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test 1,Test 2,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test 1,Test 2,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test 1,Test 2,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Test 1,Test 2,600

# Aggreagte Stastics(Groupby)

In [78]:
poke = pd.read_csv("new_poke.csv")
poke

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test value,Test value,525
3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test value,Test value,625
4,4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test value,Test value,600
796,796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test value,Test value,700
797,797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test value,Test value,600
798,798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test value,Test value,680
799,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Test value,Test value,600

In [79]:
poke

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test value,Test value,525
3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test value,Test value,625
4,4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test value,Test value,600
796,796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test value,Test value,700
797,797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test value,Test value,600
798,798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test value,Test value,680
799,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Test value,Test value,600

In [95]:
# poke.groupby(["Type 1"]).mean().sort_values("Attack",ascending=False)
poke.groupby(['Type 1']).sum()

,Unnamed: 0,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
Type 1,,,,,,,,,
Bug,25397,23080,3925,4897,4880,3717,4471,4256,26146
Dark,15729,14302,2071,2740,2177,2314,2155,2361,13818
Dragon,16699,15180,2666,3588,2764,3099,2843,2657,17617
Electric,17626,15994,2631,3040,2917,3961,3243,3718,19510
Fairy,8407,7642,1260,1046,1117,1335,1440,826,7024
Fighting,10812,9824,1886,2613,1780,1434,1747,1784,11244
Fire,18769,17025,3635,4408,3524,4627,3755,3871,23820
Flying,2986,2711,283,315,265,377,290,410,1940
Ghost,17161,15568,2062,2361,2598,2539,2447,2059,14066
Grass,26629,24141,4709,5125,4956,5425,4930,4335,29480
Ground,12554,11401,2361,3064,2715,1807,2008,2045,14000
Ice,11176,10165,1728,1746,1714,1861,1831,1523,10403
Normal,34455,31279,7573,7200,5865,5470,6245,7012,39365
Poison,7792,7050,1883,2091,1927,1692,1803,1780,11176
Psychic,23946,21706,4026,4073,3858,5609,4918,4645,27129
Rock,19001,17280,2876,4086,4435,2787,3321,2460,19965
Steel,13130,11957,1761,2503,3412,1823,2177,1492,13168
Water,37331,33946,8071,8305,8170,8379,7898,7388,48211

In [96]:
poke.groupby(["Type 1"]).count()

,Unnamed: 0,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,,,
Bug,69,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,112,53,112,112,112,112,112,112,112,112,112

In [102]:
poke["Count"]=1
poke.groupby(["Type 1"]).count()['Count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Count, dtype: int64

In [105]:
#for subcounts
poke.groupby(["Type 1","Type 2"]).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

# Working with large amount of data

In [115]:
new_data=pd.DataFrame(columns=poke.columns)

for poke in  pd.read_csv("new_poke.csv",chunksize=5):
    results = poke.groupby(["Type 1"]).count()
    new_data = pd.concat([new_data,results])
#new_data
  #  print("CHUNk DF")
    # print(poke)

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Fire,1,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2